{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Барбершоп Стальная Борода - стиль, качество, профессионализм">
    <meta name="keywords" content="барбершоп, услуги, мастера, запись, стрижка, бритье">

    <title>
		{% block title %}{{ title|default:"Барбершоп 'Стальная Борода'" }}{% endblock %}
	</title>
	{#  Делаю пока без иконок, поэтому bootstrap icons отсутствует#}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    {% block styles %}{% endblock %}
    {% block extra_head %}{% endblock %}
  </head>
  <body>
    <header>
      {% block header %}
        {% include "nav_bar_include.html" %}
      {% endblock %}
    </header>
    <main>
      <div class="container">
        {% block content %}
		  
	  	{% endblock %}
		  
	  	
		<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 1100">
    {% for message in messages %}
    <div class="toast show" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="true" data-bs-delay="5000">
        <div class="toast-header">
            <strong class="me-auto">
                {% if message.tags == 'error' %}Ошибка
                {% elif message.tags == 'success' %}Успех
                {% elif message.tags == 'warning' %}Предупреждение
                {% else %}Информация{% endif %}
            </strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body bg-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %} text-white">
            {{ message }}
        </div>
    </div>
    {% endfor %}
</div>
    </div>
      </div>
    </main>
    <footer class="mt-5 bg-light py-3">
      {% block footer %}
        <div class="container text-center">
          <p>Учебный проект python411</p>
          <p>2025 &copy; Все права защищены понял</p>
        </div>
      {% endblock %}
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'js/main.js' %}"></script>
	 <script src="{% static 'js/thanks.js' %}"></script>
    {% block scripts %}{% endblock %}
  </body>
</html>