{% extends "base.html" %}
{% block title %}Список заявок{% endblock %}

{% block content %}
	<div class = "row">
		<h1>{{ title }}</h1>
	</div>
	<div class = 'row'>
	<form>
		<div class="input-group mb-3">
			<input type="text" class="form-control" name = 'q' id="searchForm" aria-describedby="textForm" placeholder="Введите Ваш поисковой запрос" value = "{{ request.GET.q|default:''}}">
			<button type="submit" class="btn btn-primary"><span><i class="bi bi-search"></i></span></button>
		</div>

		<div class="mb-3">
			<label class="form-label">Искать по:</label>
			<div class="form-check form-check-inline">
				<input class="form-check-input" type="checkbox" id="searchByPhone" name="search_by_phone" value="true" {% if request.GET.search_by_phone %}checked{% endif %}>
				<label class="form-check-label" for="searchByPhone">Телефону</label>
			</div>
			<div class="form-check form-check-inline">
				<input class="form-check-input" type="checkbox" id="searchByName" name="search_by_name" value="true"  {% if request.GET.search_by_name %}checked{% endif %}>
				<label class="form-check-label" for="searchByName">Имени</label>
			</div>
			<div class="form-check form-check-inline">
				<input class="form-check-input" type="checkbox" id="searchByComment" name="search_by_comment" value="true" {% if request.GET.search_by_comment %}checked{% endif %}>
				<label class="form-check-label" for="searchByComment">Комментарию</label>
			</div>
		</div>
		<div class="mb-3">
			<label class="form-label">Сортировать по дате:</label>
			<div class="form-check form-check-inline">
				<input class="form-check-input" type="radio" name="order_by_date" id="orderByDesc" value="desc" {% if request.GET.order_by_date == 'desc' or not request.GET.order_by_date %}checked{% endif %}>
				<label class="form-check-label" for="orderByDesc">По убыванию</label>
			</div>
			<div class="form-check form-check-inline">
				<input class="form-check-input" type="radio" name="order_by_date" id="orderByAsc" value="asc" {% if request.GET.order_by_date == 'asc' %}checked{% endif %}>
				<label class="form-check-label" for="orderByAsc">По возрастанию</label>
			</div>
		</div>
			<div class="mb-3">
		<label class="form-label">Статус заявки:</label>
		<div class="form-check form-check-inline">
			<input class="form-check-input" type="checkbox" id="statusNew" name="status_new" value="true"
				   {% if request.GET.status_new %}checked{% endif %}>
			<label class="form-check-label" for="statusNew">Новая</label>
		</div>
		<div class="form-check form-check-inline">
			<input class="form-check-input" type="checkbox" id="statusApproved" name="status_approved" value="true"
				   {% if request.GET.status_approved %}checked{% endif %}>
			<label class="form-check-label" for="statusApproved">Подтвержденная</label>
		</div>
		<div class="form-check form-check-inline">
			<input class="form-check-input" type="checkbox" id="statusCompleted" name="status_completed" value="true"
				   {% if request.GET.status_completed %}checked{% endif %}>
			<label class="form-check-label" for="statusCompleted">Выполненная</label>
		</div>
		<div class="form-check form-check-inline">
			<input class="form-check-input" type="checkbox" id="statusCancelled" name="status_cancelled" value="true"
				   {% if request.GET.status_cancelled %}checked{% endif %}>
			<label class="form-check-label" for="statusCancelled">Отмененная</label>
		</div>
	</div>
	</form>
	</div>

<section class="py-5">
  <div class="container">
    <h2 class="mb-4">Список заявок</h2>
    {% if orders %}
      <div class="row">
        {% for order in orders %}
          {% include 'order_card_include.html' %}
        {% endfor %}
      </div>
    {% else %}
      <p>Заявок нет.</p>
    {% endif %}
  </div>
</section>
{% endblock %}
